<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home Page <%= 5 + 2 + 3%></h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque vitae
      animi illo, sapiente ea distinctio, earum dignissimos quae architecto
      cupiditate beatae omnis optio recusandae magni nesciunt consequuntur
      perferendis expedita quibusdam?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit commodi
      pariatur asperiores nisi ea maiores facere adipisci minima eligendi enim
      quasi delectus quia corrupti iste eos possimus, iure totam minus?
    </p>
  </body>
</html>
